*{
  box-sizing: border-box;
}
.item-img, item-content{
  float:left;
}
.item-img{
  width: 30%;
  padding-right:10px;
  text-overflow: clip;
}
.item-img img{
  width: 100%;
  height:100px;
}
.item-content{
  width: 70%;
}
.btnClick{
  padding:50px 0;
}
